In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [2]:
df = pd.read_csv('properatti.csv')

In [3]:
df.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [4]:
import unidecode

def quitar_caracteres(entrada):
    return str.lower(unidecode.unidecode(entrada))

In [5]:
df['description'] = df['description'].astype('str').apply(quitar_caracteres)
df['title'] = df['title'].astype('str').apply(quitar_caracteres)

In [7]:
regex_cochera = re.compile('cochera|garage')
df['regex_cochera'] = [regex_cochera.findall(x) for x in df['description']]

df['cochera'] = [1 if i != [] else 0 for i in df['regex_cochera']]

In [8]:
regex_parilla = re.compile('parilla|asador|quincho')
df['regex_parilla'] = [regex_parilla.findall(x) for x in df['description']]

df['parilla'] = [1 if i != [] else 0 for i in df['regex_parilla']]

In [9]:
regex_pileta= re.compile('pileta|piscina|jacuzzi')
df['regex_pileta'] = [regex_pileta.findall(x) for x in df['description']]

df['pileta'] = [1 if i != [] else 0 for i in df['regex_pileta']]

In [10]:
regex_SUM = re.compile('sum|salon de usos multiples')
df['regex_SUM'] = [regex_SUM.findall(x) for x in df['description']]

df['SUM'] = [1 if i != [] else 0 for i in df['regex_SUM']]

In [11]:
regex_gimnasio = re.compile('gimnasio')
df['regex_gimnasio'] = [regex_gimnasio.findall(x) for x in df['description']]

df['gimnasio'] = [1 if i != [] else 0 for i in df['regex_gimnasio']]

In [12]:
regex_solarium = re.compile('solarium')
df['regex_solarium'] = [regex_solarium.findall(x) for x in df['description']]

df['solarium'] = [1 if i != [] else 0 for i in df['regex_solarium']]

In [13]:
regex_lavadero = re.compile('laundry|lavadero')
df['regex_lavadero'] = [regex_lavadero.findall(x) for x in df['description']]

df['lavadero'] = [1 if i != [] else 0 for i in df['regex_lavadero']]

In [14]:
regex_terraza = re.compile('terraza')
df['regex_terraza'] = [regex_terraza.findall(x) for x in df['description']]

df['terraza'] = [1 if i != [] else 0 for i in df['regex_terraza']]

In [15]:
regex_patio = re.compile('patio')
df['regex_patio'] = [regex_patio.findall(x) for x in df['description']]

df['patio'] = [1 if i != [] else 0 for i in df['regex_patio']]

In [16]:
regex_jardin = re.compile('jardin')
df['regex_jardin'] = [regex_jardin.findall(x) for x in df['description']]

df['jardin'] = [1 if i != [] else 0 for i in df['regex_jardin']]

In [17]:
regex_balcon = re.compile('balcon')
df['regex_balcon'] = [regex_balcon.findall(x) for x in df['description']]

df['balcon'] = [1 if i != [] else 0 for i in df['regex_balcon']]

In [18]:
df.drop(['regex_terraza','regex_balcon','regex_cochera','regex_parilla','regex_patio','regex_jardin','regex_pileta','regex_solarium','regex_gimnasio','regex_lavadero','regex_SUM'], axis=1, inplace=True)

In [22]:
df.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,parilla,pileta,SUM,gimnasio,solarium,lavadero,terraza,patio,jardin,balcon
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,0,0,0,0,0,1,0,1,0,0
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,0,0,0,0,0,1,0,0,0,1
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,0,0,0,0,0,1,0,0,0,0
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,0,0,0,0,0,0,0,1,0,0
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df[['cochera','parilla','pileta','SUM','gimnasio','solarium','lavadero','terraza','patio','jardin','balcon']].sum()

cochera     50495
parilla     16787
pileta      34391
SUM         16755
gimnasio     7016
solarium    12927
lavadero    44692
terraza     27509
patio       21496
jardin      17474
balcon      43280
dtype: int64

In [19]:
#pd.set_option('display.max_colwidth', -1)

In [20]:
#df.title.sample()

In [21]:
#df.description.sample()